@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hs3xwf');
  src:  url('fonts/icomoon.eot?hs3xwf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hs3xwf') format('truetype'),
    url('fonts/icomoon.woff?hs3xwf') format('woff'),
    url('fonts/icomoon.svg?hs3xwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-benefit-1-discount:before {
  content: "\e900";
}
.icomoon-benefit-2-tickets:before {
  content: "\e901";
}
.icomoon-benefit-3-giftcard:before {
  content: "\e902";
}
.icomoon-benefit-4-seats:before {
  content: "\e903";
}
.icomoon-benefit-5-crowd:before {
  content: "\e904";
}
.icomoon-benefit-6-grey-cup:before {
  content: "\e905";
}
.icomoon-benefit-7-member:before {
  content: "\e906";
}
.icomoon-benefit-8-calendar:before {
  content: "\e907";
}
.icomoon-benefit-9-mobile:before {
  content: "\e908";
}
.icomoon-benefit-10-piggybank:before {
  content: "\e909";
}
.icomoon-benefit-11-flex:before {
  content: "\e9010";
}

